In [1]:
import numpy as np
import pandas as pd

In [2]:
user_ids = []
movie_ids = []
ratings = []
timestamps = []

# Open the file as text, split each line and collect the data into a PD.DATAFRAME 
with open("./u.data", 'rt') as file1:
    for line in file1.readlines():
        a = line.split()
        user_ids.append(int(a[0]))
        movie_ids.append(int(a[1]))
        ratings.append(float(a[2]))
        timestamps.append(a[3])
    
rating_df = pd.DataFrame({'user_id': user_ids, 'movie_id': movie_ids, 'rating': ratings, 'timestamp': timestamps})
rating_df.sort_values(by=['user_id', 'movie_id', 'timestamp'], inplace=True)
rating_df.reset_index(drop=True, inplace=True)
rating_df

       user_id  movie_id  rating  timestamp
0            1         1     5.0  874965758
1            1         2     3.0  876893171
2            1         3     4.0  878542960
3            1         4     3.0  876893119
4            1         5     3.0  889751712
...        ...       ...     ...        ...
99995      943      1067     2.0  875501756
99996      943      1074     4.0  888640250
99997      943      1188     3.0  888640250
99998      943      1228     3.0  888640275
99999      943      1330     3.0  888692465

[100000 rows x 4 columns]

In [3]:
def keep_movies_rated_by_at_least(df, perc):
    filtered = df.groupby('movie_id').filter(lambda x: len(x) >= perc*df.user_id.nunique())
    return filtered

rating_df = keep_movies_rated_by_at_least(rating_df, 0.33)

In [4]:
# if movie id and user id are the same in two rows take the one with bigger timerstamp

def remove_duplicates(df):
    df.drop_duplicates(subset=['user_id', 'movie_id'], keep='last', inplace=True)
    df.drop(columns = 'timestamp', inplace=True)
    return df

In [5]:
data = remove_duplicates(rating_df)
data

       user_id  movie_id  rating
0            1         1     5.0
6            1         7     4.0
49           1        50     5.0
55           1        56     4.0
68           1        69     3.0
...        ...       ...     ...
99882      943       181     4.0
99896      943       204     3.0
99898      943       210     4.0
99913      943       237     4.0
99931      943       405     4.0

[11995 rows x 3 columns]

In [6]:
temp = data.pivot_table(index='user_id', columns='movie_id', values='rating').fillna(0)
df = pd.DataFrame(columns=temp.columns.values, index=temp.index.values, data=temp.values)

In [7]:
df

,1,7,50,56,69,79,98,100,117,121,...,237,258,269,286,288,294,300,313,405,748
1,5.0,4.0,5.0,4.0,3.0,4.0,4.0,5.0,3.0,4.0,...,2.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,4.0,3.0,4.0,4.0,3.0,1.0,4.0,5.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,2.0,2.0,2.0,0.0,0.0,0.0
4,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,4.0,5.0,5.0,0.0,0.0,0.0
5,4.0,0.0,4.0,0.0,1.0,3.0,3.0,5.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,5.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
940,0.0,4.0,4.0,5.0,2.0,0.0,4.0,3.0,0.0,0.0,...,0.0,5.0,4.0,3.0,0.0,4.0,5.0,5.0,0.0,0.0
941,5.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,4.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0
942,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0,4.0,0.0,...,0.0,4.0,2.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0
943,0.0,0.0,4.0,5.0,5.0,5.0,5.0,5.0,4.0,3.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0

In [8]:
# import train_test_split
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2, random_state=42)

In [9]:
from scipy.linalg import svd

def do_svd(mat, k=0, option=False):
    U, Sigma, VT = svd(mat)
    U = pd.DataFrame(U[:,:k])
    VT = pd.DataFrame(VT[:k,:])
    if option:
        return Sigma[:k]
    else:
        return U, VT

In [10]:
keep = 18

In [11]:
U = do_svd(train, k=keep)[0]

In [12]:
VT = do_svd(train, k=keep)[1]

In [13]:
VT

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-0.207064,-0.179968,-0.295864,-0.202478,-0.168560,-0.185094,-0.212677,-0.229168,-0.171266,-0.180173,...,-0.164315,-0.190886,-0.100618,-0.147258,-0.151271,-0.142706,-0.134403,-0.136905,-0.142502,-0.098480
1,0.004588,0.009227,-0.022963,-0.151704,-0.152534,-0.174750,-0.162916,0.074983,0.042576,0.005726,...,0.097371,0.344364,0.223591,0.312783,0.238151,0.225120,0.356782,0.319942,0.003302,0.217539
2,-0.254198,-0.134728,-0.077911,0.203755,0.089568,0.057691,0.179281,0.021444,-0.303422,-0.311076,...,-0.197920,0.061211,0.319518,0.378339,0.041396,-0.061048,-0.018047,0.199469,-0.263521,-0.072002
3,0.076278,0.189425,0.061180,0.072093,-0.076617,-0.093722,0.061496,0.554561,0.026610,-0.035000,...,0.170733,-0.164712,0.134095,0.188772,-0.086192,-0.210374,-0.208459,-0.259831,-0.039060,-0.180710
4,-0.086040,0.261388,-0.487150,0.280386,0.066390,0.086691,0.240239,0.193361,0.140278,0.046278,...,0.130913,-0.069345,-0.070495,-0.047916,0.289719,0.105145,0.032362,0.009477,0.110658,-0.004406
5,0.217389,-0.201810,-0.172800,-0.266974,0.175131,-0.026453,-0.168677,0.027390,0.016996,0.118402,...,0.276236,-0.190607,0.300086,0.348833,-0.439744,-0.058809,0.028636,0.063068,0.115198,-0.039903
6,-0.012554,0.259314,0.085628,-0.026036,-0.220352,-0.147432,-0.066982,0.092174,-0.170912,-0.067069,...,-0.271525,0.418107,0.201525,0.020398,-0.007560,-0.136239,-0.201219,-0.247809,-0.107701,0.011314
7,0.057355,0.104437,-0.019871,-0.085221,-0.119655,-0.121597,-0.122836,0.109590,0.024975,0.055650,...,-0.100643,-0.181676,0.059652,-0.224383,0.163631,-0.216625,-0.315639,0.733418,0.039164,-0.150596
8,-0.284191,0.010722,-0.164783,0.132607,-0.041327,0.225756,-0.063001,0.030942,0.218798,0.231594,...,-0.032852,0.392041,0.145210,-0.091088,-0.301092,-0.488523,0.064342,0.106989,0.221793,-0.076881
9,-0.042957,-0.086715,-0.053961,-0.048791,-0.165942,0.115462,-0.120746,-0.039465,0.074814,0.061910,...,-0.108076,-0.206342,0.646207,-0.416758,0.202493,0.088516,0.231740,-0.229585,0.061898,0.007055
10,0.370948,0.006847,-0.156283,0.103207,0.019382,0.098055,0.099228,0.078749,-0.019815,-0.183073,...,-0.240390,0.148191,-0.136091,-0.276683,-0.439546,0.075511,0.302787,0.207352,-0.200024,0.064149
11,-0.242032,-0.046625,-0.201163,-0.139405,0.006949,-0.144154,-0.224696,-0.079367,-0.103174,0.162180,...,-0.113270,0.006300,-0.340130,0.213766,0.195703,-0.184892,0.092289,-0.067575,0.125078,0.142994
12,-0.112551,-0.263088,0.040390,-0.162028,0.191148,-0.194617,0.100882,0.256552,-0.231841,-0.068109,...,0.460883,0.284656,-0.071496,-0.377121,0.138625,-0.171382,0.169614,-0.000616,-0.194802,-0.171406
13,-0.201610,0.047528,0.082864,0.017853,-0.244068,-0.024646,-0.135053,0.472885,-0.010532,-0.052569,...,-0.181064,-0.347156,-0.163822,0.047842,-0.117143,-0.085996,0.429034,0.006214,-0.030639,0.203078
14,-0.109040,-0.030245,0.021965,-0.138236,-0.045798,0.051667,0.483912,-0.152645,-0.099646,0.123534,...,-0.126035,-0.210309,0.007564,0.127215,0.053268,-0.147290,0.371535,0.051310,-0.041727,-0.440175
15,-0.365188,-0.296659,0.053917,0.031964,-0.088044,-0.013552,0.325403,0.117841,0.107710,0.079475,...,0.082348,-0.101683,0.018765,-0.071386,-0.191878,0.135974,-0.253123,0.121095,0.045782,0.401089
16,0.472949,-0.400999,0.045027,0.125636,-0.087380,0.215799,-0.006804,0.105676,-0.188120,-0.067489,...,-0.088103,-0.086388,-0.012427,0.061290,0.330465,-0.307660,-0.082440,0.004770,0.118427,0.138897
17,0.026060,0.041330,0.007264,-0.220133,-0.071735,0.052741,0.425527,-0.207366,0.038093,-0.021337,...,0.041279,-0.009080,0.129341,0.011190,0.035699,-0.268449,-0.070313,-0.034151,-0.008522,0.437055

In [14]:
sigma = do_svd(train, k=keep, option=True)

In [15]:
sigma = np.diag(sigma)

In [16]:
sigma.shape

(18, 18)

In [17]:
def rmse(true, pred):
    x = true - pred
    return np.sqrt(np.mean(x**2))

In [18]:
def test_(U, VT, test):
    predictions = []
    actual = []
    recc = []
    for i, user in test.iterrows():
        for movie, rating in user.items():
            if rating != 0 and movie in VT.T.columns:
                # print(user.values.reshape(1, -1).shape, VT.T.shape, sigma.shape)
                U_user = user.values.reshape(1, -1) @ VT.T @ np.linalg.inv(sigma)
                predicted_rating = np.dot(U_user, np.dot(sigma, VT.T.loc[movie]))[0]
                predictions.append(predicted_rating)
                actual.append(rating)
                recc.append((rating, predicted_rating, i))
                recc.sort(key=lambda x: x[0], reverse=True)
            
    predictions = np.array(predictions)
    actual = np.array(actual)
    return rmse(predictions, actual), recc

In [19]:
e, r = test_(U, VT, test)

In [20]:
r.sort(key=lambda x: (x[2], x[0], x[1]), reverse=True)

In [21]:
e

2.0957667704672907

In [22]:
r

[(4.0, 4.835539899226424, 938),
 (4.0, 3.841601533591482, 938),
 (3.0, 0.8141189112539091, 929),
 (3.0, 2.3841257720525597, 923),
 (5.0, 1.0258611993086915, 922),
 (5.0, 2.73913231536277, 893),
 (5.0, 4.209078074863237, 887),
 (4.0, 2.0479841433862274, 887),
 (5.0, 4.912698749956151, 886),
 (4.0, 3.029326790371479, 886),
 (5.0, 3.0937656919371257, 885),
 (3.0, 3.4102046502905243, 885),
 (3.0, 1.0429194260378596, 872),
 (5.0, 5.022388777140469, 868),
 (4.0, 4.96946643601361, 868),
 (4.0, 4.796266860526114, 854),
 (3.0, 4.3305745691810404, 854),
 (5.0, 4.934912947877928, 838),
 (5.0, 2.889440596623904, 838),
 (5.0, 5.3330846056660395, 831),
 (4.0, 3.8532074122565994, 831),
 (4.0, 3.2876738528867477, 817),
 (4.0, -0.1993244651844217, 817),
 (4.0, 1.1525431420991232, 777),
 (4.0, 5.023001764734895, 764),
 (4.0, 3.571169856168205, 764),
 (5.0, 4.861012118814106, 758),
 (4.0, 2.452095877397948, 742),
 (3.0, 4.862589551021109, 742),
 (5.0, 3.6394818963103113, 738),
 (4.0, 1.837237775862229, 738),
 (2.0, -1.0736989982688177, 731),
 (4.0, 4.592867235024438, 717),
 (3.0, 3.2272528247420302, 699),
 (2.0, 2.9130613591579735, 699),
 (4.0, -0.04259508472063628, 698),
 (4.0, 0.28855091552898315, 692),
 (4.0, -0.374929360305964, 690),
 (5.0, 2.5347916876178633, 680),
 (4.0, 5.632556654566725, 680),
 (3.0, 2.8239389744136347, 655),
 (2.0, 2.076649247674535, 655),
 (4.0, 0.5156490292334535, 654),
 (4.0, 4.249352176489625, 634),
 (3.0, 2.7452303362381114, 634),
 (4.0, 5.357199190628193, 624),
 (4.0, 2.873682454471952, 624),
 (5.0, 2.666921268371909, 614),
 (2.0, 4.066215590328398, 614),
 (5.0, 4.385365856760556, 606),
 (4.0, 5.007335579267911, 606),
 (4.0, 0.3422507925757541, 605),
 (4.0, 0.16949168052517227, 602),
 (3.0, 1.02424004832591, 593),
 (4.0, 3.796140281922191, 588),
 (3.0, 1.5676316974847224, 588),
 (5.0, 3.8750836374009694, 546),
 (4.0, 0.4382144769387537, 541),
 (4.0, 4.558965903822229, 540),
 (3.0, 3.8007266024893616, 540),
 (4.0, 4.8132238791477615, 537),
 (2.0, 3.3364705373024686, 537),
 (5.0, 1.0257400610983272, 536),
 (4.0, 1.5773436489724242, 533),
 (5.0, 5.5299633026349255, 527),
 (5.0, -0.23275517850116234, 523),
 (3.0, 3.05478975668724, 521),
 (2.0, 3.124130886853984, 521),
 (5.0, 3.7139752976975267, 514),
 (5.0, 1.731551659638422, 514),
 (4.0, 3.666084121013411, 501),
 (4.0, 4.266540652611766, 499),
 (4.0, 2.7073522294317307, 497),
 (3.0, 4.131599412160302, 497),
 (4.0, 1.4614245754042554, 496),
 (4.0, 0.8815633721410988, 495),
 (5.0, 1.6416633000352099, 479),
 (5.0, 4.8840382414324575, 467),
 (4.0, 3.390628290562356, 467),
 (5.0, 5.518400584861787, 453),
 (5.0, 3.6494539459746362, 441),
 (4.0, 2.5474927540547254, 441),
 (4.0, -0.43233615389179403, 438),
 (4.0, 1.6996831357873656, 434),
 (1.0, 0.3991556512546933, 434),
 (3.0, 4.3333248983179535, 425),
 (2.0, 2.495216520668289, 425),
 (4.0, 4.072736940789808, 406),
 (4.0, 3.8752564355357366, 406),
 (4.0, 0.9513029583171358, 396),
 (5.0, 4.729451457069274, 379),
 (4.0, 4.507474977573565, 379),
 (3.0, 3.0105463612985925, 372),
 (4.0, 2.551526189489586, 365),
 (2.0, 4.225199487995534, 365),
 (5.0, 1.0917024416436978, 359),
 (4.0, 3.2573553232315255, 359),
 (5.0, 3.4741607702374555, 357),
 (3.0, -0.08608179037311092, 357),
 (4.0, 4.6828174082040865, 354),
 (3.0, 4.0143987782968455, 352),
 (4.0, 4.385746997889821, 348),
 (4.0, 3.5139543008806036, 348),
 (2.0, 3.757117475393831, 346),
 (3.0, 0.6349104654117366, 336),
 (5.0, 5.840752730294023, 334),
 (5.0, 1.9107039554253715, 330),
 (3.0, 3.278076266250224, 329),
 (4.0, 5.146811858278097, 328),
 (2.0, 0.03530544165026389, 325),
 (4.0, 4.5740569447177855, 321),
 (5.0, 0.4158290173296691, 312),
 (4.0, 0.33546692802443, 311),
 (4.0, 5.206466534386902, 308),
 (4.0, 4.56578773188748, 308),
 (4.0, 4.6677155515447755, 301),
 (4.0, 3.79511077288078, 301),
 (5.0, 5.989982200117021, 296),
 (5.0, 3.824226829616168, 296),
 (5.0, 3.7093777629318856, 294),
 (4.0, 3.8933621450310154, 294),
 (4.0, 3.793010819791426, 292),
 (3.0, 5.287148433419005, 292),
 (4.0, 2.9500770853673517, 277),
 (2.0, 4.049227475162404, 277),
 (4.0, 3.0526160515013876, 268),
 (3.0, 4.722521383808531, 268),
 (5.0, 4.832707244063622, 267),
 (5.0, -0.4065046181702242, 263),
 (4.0, 2.872010871122244, 262),
 (3.0, 3.375430194238507, 262),
 (5.0, 4.728009011900976, 256),
 (4.0, 3.4003803998403983, 256),
 (5.0, 2.8363653544257543, 252),
 (4.0, 5.004948917024456, 252),
 (5.0, 5.41089429756536, 249),
 (4.0, 3.6467453362925624, 249),
 (4.0, 2.4872690277474754, 246),
 (5.0, -0.8563630056744024, 210),
 (3.0, 4.433085180587293, 201),
 (3.0, 1.9986707900322833, 201),
 (5.0, 4.124309611997569, 200),
 (4.0, -0.9195709982771096, 200),
 (4.0, 2.4052226164237887, 194),
 (3.0, 4.325606503306682, 194),
 (5.0, 4.825022760265114, 176),
 (5.0, 0.0027289687279843378, 159),
 (4.0, 0.22074345838956055, 142),
 (4.0, 2.594773821620712, 138),
 (3.0, -0.208478587593102, 137),
 (4.0, 0.19392744297815723, 121),
 (5.0, 4.048069227335144, 108),
 (4.0, 2.764612319220706, 108),
 (5.0, 1.6565367193970588, 97),
 (4.0, 1.900209171326249, 97),
 (4.0, 4.683730604621103, 87),
 (5.0, 4.796671493513197, 79),
 (4.0, 3.4435369469986483, 79),
 (5.0, 0.18064429705621365, 77),
 (4.0, 4.630944424115576, 73),
 (2.0, 2.7216485611487427, 73),
 (3.0, 1.2198905077012205, 68),
 (5.0, 0.021656729945335407, 67),
 (3.0, 5.221902562389304, 67),
 (3.0, 2.452070590600051, 66),
 (3.0, 0.8775069930625282, 66),
 (4.0, 4.8696788086825595, 64),
 (4.0, 2.5853996354524793, 64),
 (5.0, 2.2721163557333233, 45),
 (3.0, 5.212984888814853, 45),
 (4.0, 2.7112466066483956, 32),
 (4.0, 4.610672754943643, 24)]